PORT=3001

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=reverte

# MQTT
MQTT_BROKER_URL=mqtt://broker.hivemq.com
MQTT_TOPIC=reverte/capteurs

# Seuils critiques
TEMP_THRESHOLD=30
HUMIDITY_THRESHOLD=80

# E-mail de l'application
MAIL_USER=pharosi.raphael@gmail.com
MAIL_PASS=aohk wama vhdv bghf
MAIL_TO=pharosi.raphael@gmail.com,nourfellag@outlook.fr,rafikzeffane59@gmail.com,nene.almeida78@gmail.com